@{
    ViewData["Title"] = "My Trip Log";
}
    @* @if(!string.IsNullOrEmpty((string?)TempData["Destination"]))
        { *@
            <h2>Trip to @(TempData["Destination"]) added.</h2>
        @* } *@
    <a href="@Url.RouteUrl("trip_add", new { action = "Page1", area = "Trip" })" class="btn btn-link text-decoration-none">Add Trip</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Destination</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Accommodations</th>
            <th scope="col">Things To Do</th> 
        </tr>
    </thead>
    <tbody>
    @foreach (Trip trip in Model)
    {
        <tr>
        @* look at the variable in the controller that holds the data! *@
        @* look at the website and instructions for what to display to the views! *@
            <td>@trip.Destination</td>
            <td>@trip.StartDate.ToShortDateString()</td>
            <td>@trip.EndDate.ToShortDateString()</td>
            <td>@trip.Accomodation</td>
            <td>
                <div>@trip.Activity1</div>
                <div>@trip.Activity2</div>
                <div>@trip.Activity3</div>
            </td>
        </tr>
    }

    </tbody>
</table>

